@import '~@angular/material/theming';

mat-card {
    cursor: pointer;
    padding: 0;
    > * {
        display: block;
        padding: 24px;
    }
    > a, a:hover, a:active, a:focus, a:visited {
        text-decoration: none;
    }

    &:hover {
        @include mat-elevation(6);
    }
}
