<div class="card-wrapper">
    <dashr-dash-card *ngFor="let child of dashChildren"
                     [dashModel]="child"
                     [active]="isActiveChild(child)"
                     (activate)="activateChild($event)">
    </dashr-dash-card>
</div>
<div class="children-wrapper"
     *ngIf="activeChild && activeChild.children">
    <div class="dash-divider">
        <mat-icon>expand_more</mat-icon>
        <span>{{ activeChild.levelLabel || activeChild.title }}</span>
    </div>
    <dashr-dash-line [dashChildren]="activeChild.children"
                     [path]="childPath"
                     [pathSnapshot]="activeChild.shortcut"
                     (dashChange)="dashChange.emit('/' + pathSnapshot + $event)">
    </dashr-dash-line>
</div>
